<!DOCTYPE html>
<html>
<!-- SVG LOGOS: -->
<!-- https://dev.to/viclafouch/5-best-places-to-find-free-svg-css-icons-for-your-websites-41c5 -->

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="/katex/dist/katex.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/styles/github-dark.css" rel="stylesheet" type="text/css">
</head>

<body>
  <nav>
    <div id='navButtons' style="font-size:0.8rem; z-index:10; position:absolute; top:0;left:0;">
      <ol>
        <li><span><a href="#aboutThisPage">About</a></span></li>
        <li><span><a href="#stuffIKnow">Stuff I know about</a></span></li>
        <li><span><a href="#projectsSection">Things I've made</a></span></li>
        <li><span><a href="#blogUpdatesSection">Blog Updates</a></span></li>
      </ol>
    </div>
    <!-- <div id='myResume' style="font-size:0.8rem; position:absolute; right:2rem;"> -->
    <!--   <span class="card card-1 stacked--left" style="padding:0.5rem;"> -->
    <!--     <a href="#" style="text-decoration:none; color:inherit;">My resume</a></span> -->
    <!-- </div> -->
  </nav>

  <!-- Barra lateral derecha -->
  <div class="sideStuff" style="position:fixed; right:2px; writing-mode: vertical-lr; font-size:11px;">
    <div id="myEmail">
      santos.baez.gabriel.elo@gmail.com
    </div>
  </div>

  <!-- Barra lateral izquierda -->
  <div class="sideStuff" style="position:fixed; left:0px; font-size:15px;">
    <div id='giteaRow' class="sideButtonRow">
      <div class="sideButtonLogo">
        <a href="https://git.gasantos.xyz/" style="color: inherit;">
          <svg xmlns="http://www.w3.org/2000/svg" class="animate-thing" width="24" height="24" viewBox="0 0 24 24"
            stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <circle cx="16" cy="12" r="1"></circle>
            <circle cx="12" cy="8" r="1"></circle>
            <circle cx="12" cy="16" r="1"></circle>
            <path d="M12 15v-6"></path>
            <path d="M15 11l-2 -2"></path>
            <path d="M11 7l-1.9 -1.9"></path>
            <path
              d="M10.5 20.4l-6.9 -6.9c-.781 -.781 -.781 -2.219 0 -3l6.9 -6.9c.781 -.781 2.219 -.781 3 0l6.9 6.9c.781 .781 .781 2.219 0 3l-6.9 6.9c-.781 .781 -2.219 .781 -3 0z">
            </path>
          </svg>
        </a>
      </div>
      <div class="sideButtonText">
        <span class="letters">Gitea</span>
        <span class="line"></span>
      </div>
    </div>

    <div id='githubRow' class="sideButtonRow">
      <div class="sideButtonLogo">
        <a href="https://github.com/GASB0" style="color: inherit;">
          <svg xmlns="http://www.w3.org/2000/svg" class="animate-thing" width="24" height="24" viewBox="0 0 24 24"
            stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path
              d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5">
            </path>
          </svg>
        </a>
      </div>
      <div class="sideButtonText">
        <span class="letters">Github</span>
        <span class="line"></span>
      </div>
    </div>

    <div id='mailRow' class="sideButtonRow">
      <div class="sideButtonLogo">
        <a href="mailto:santos.baez.gabriel.elo@gmail.com.com" style="color: inherit;">
          <svg class="animate-thing" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <rect x="3" y="5" width="18" height="14" rx="2"></rect>
            <polyline points="3 7 12 13 21 7"></polyline>
          </svg>
        </a>
      </div>
      <div class="sideButtonText">
        <span class="letters">Mail</span>
        <span class="line"></span>
      </div>
    </div>

  </div>

  <!-- Botones para cambiar las secciones -->
  <div id="sectButtons">
    <div id="pageTop">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-up-circle" width="24"
        height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <circle cx="12" cy="12" r="9"></circle>
        <line x1="12" y1="8" x2="8" y2="12"></line>
        <line x1="12" y1="8" x2="12" y2="16"></line>
        <line x1="16" y1="12" x2="12" y2="8"></line>
      </svg>
    </div>

    <div id="formerSectButton">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-big-top" width="24" height="24"
        viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path
          d="M9 20v-8h-3.586a1 1 0 0 1 -.707 -1.707l6.586 -6.586a1 1 0 0 1 1.414 0l6.586 6.586a1 1 0 0 1 -.707 1.707h-3.586v8a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z">
        </path>
      </svg>
    </div>

    <div id="nextSectButton">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-big-down" width="24" height="24"
        viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path
          d="M15 4v8h3.586a1 1 0 0 1 .707 1.707l-6.586 6.586a1 1 0 0 1 -1.414 0l-6.586 -6.586a1 1 0 0 1 .707 -1.707h3.586v-8a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1z">
        </path>
      </svg>
    </div>

    <div id="pageBottom">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-down-circle" width="24"
        height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <circle cx="12" cy="12" r="9"></circle>
        <line x1="8" y1="12" x2="12" y2="16"></line>
        <line x1="12" y1="8" x2="12" y2="16"></line>
        <line x1="16" y1="12" x2="12" y2="16"></line>
      </svg>
    </div>
  </div>

  <!-- Cabecera/Seccion de presentacion -->
  <section id="presentation">
    <div id="upperWrap" style="display:flex; justify-content:center;">
      <div id="upper" style="overflow:visible;">
        GASB0's &nbsp; webcorner
      </div>
    </div>
    <div id="line"></div>
    <div id="lowerWrap">
      <div id="lower">Welcome to my little piece of internet</div>
    </div>
  </section>

  <!-- Contenido de la pagina -->
  <section id="aboutThisPage" class='surroundedByBox'
    style="display:flex; flex-direction:column; justify-content:center; align-items:center;">
    <div style="display:flex; flex-direction:row; flex-wrap:wrap; position:relative; justify-content:center;">
      <div class="aboutMePart">
        <div class="box">
          <h1 class="title" style="">About Me</h1>
        </div>
        <p>
          Hello, I am GASB0, the webmaster of this site. I like the internet,
          programming, maths, electronics, arts in general (specially music and martial arts).
          My favorite form of communication is via <strong>email</strong>, so feel free
          to say hello after passing by.
        </p>
        <p>
          The main purpose of this site is to serve as a portfolio and as a
          personal portal in which I'm going to be writting about topics I
          find interesting.
        </p>
      </div>

      <div class="aboutThisPage">
        <fieldset>
          <legend>
            <h2>About this page</h2>
          </legend>
          This website has been made with love, consults to <a href="https://developer.mozilla.org/en-US/">MDN</a> and:
          <ul>
            <li><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-javascript" width="24"
                height="24" viewBox="0 0 24 24" stroke-width="1.3" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M20 4l-2 14.5l-6 2l-6 -2l-2 -14.5z"></path>
                <path d="M7.5 8h3v8l-2 -1"></path>
                <path
                  d="M16.5 8h-2.5a0.5 .5 0 0 0 -.5 .5v3a0.5 .5 0 0 0 .5 .5h1.423a0.5 .5 0 0 1 .495 .57l-.418 2.93l-2 .5">
                </path>
              </svg> Javascript
            </li>
            <li><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-html5" width="24"
                height="24" viewBox="0 0 24 24" stroke-width="1.3" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M20 4l-2 14.5l-6 2l-6 -2l-2 -14.5z"></path>
                <path d="M15.5 8h-7l.5 4h6l-.5 3.5l-2.5 .75l-2.5 -.75l-.1 -.5"></path>
              </svg> HTML
            </li>
            <li><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-sass" width="24"
                height="24" viewBox="0 0 24 24" stroke-width="1.3" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="12" cy="12" r="9"></circle>
                <path
                  d="M12 10.523c2.46 -.826 4.002 -.826 4.002 -2.155c0 -1.366 -1.347 -1.366 -2.735 -1.366c-1.91 0 -3.352 .49 -4.537 1.748c-.848 .902 -1.027 2.449 -.153 3.307c.973 .956 3.206 1.789 2.884 3.493c-.233 1.235 -1.469 1.823 -2.617 1.202c-.782 -.424 -.454 -1.746 .626 -2.512s2.822 -.992 4.1 -.24c.98 .575 1.046 1.724 .434 2.193">
                </path>
              </svg> SASS
            </li>
            <li> <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-react" width="24"
                height="24" viewBox="0 0 24 24" stroke-width="1.3" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M6.306 8.711c-2.602 .723 -4.306 1.926 -4.306 3.289c0 2.21 4.477 4 10 4c.773 0 1.526 -.035 2.248 -.102">
                </path>
                <path
                  d="M17.692 15.289c2.603 -.722 4.308 -1.926 4.308 -3.289c0 -2.21 -4.477 -4 -10 -4c-.773 0 -1.526 .035 -2.25 .102">
                </path>
                <path
                  d="M6.305 15.287c-.676 2.615 -.485 4.693 .695 5.373c1.913 1.105 5.703 -1.877 8.464 -6.66c.387 -.67 .733 -1.339 1.036 -1.998">
                </path>
                <path
                  d="M17.694 8.716c.677 -2.616 .487 -4.696 -.694 -5.376c-1.913 -1.105 -5.703 1.877 -8.464 6.66c-.387 .67 -.733 1.34 -1.037 1.999">
                </path>
                <path
                  d="M12 5.424c-1.925 -1.892 -3.82 -2.766 -5 -2.084c-1.913 1.104 -1.226 5.877 1.536 10.66c.386 .67 .793 1.304 1.212 1.896">
                </path>
                <path
                  d="M11.998 18.574c1.926 1.893 3.821 2.768 5.002 2.086c1.913 -1.104 1.226 -5.877 -1.536 -10.66c-.375 -.65 -.78 -1.283 -1.212 -1.897">
                </path>
                <path d="M11.5 12.866a1 1 0 1 0 1 -1.732a1 1 0 0 0 -1 1.732z"></path>
              </svg> ReactJS
            </li>
            <li><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-hexagon-n" width="24"
                height="24" viewBox="0 0 24 24" stroke-width="1.3" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M19 6.873a2 2 0 0 1 1 1.747v6.536a2 2 0 0 1 -1.029 1.748l-6 3.833a2 2 0 0 1 -1.942 0l-6 -3.833a2 2 0 0 1 -1.029 -1.747v-6.537a2 2 0 0 1 1.029 -1.748l6 -3.572a2.056 2.056 0 0 1 2 0l6 3.573h-.029z">
                </path>
                <path d="M10 16v-8l4 8v-8"></path>
              </svg> NodeJS
            </li>
          </ul>
        </fieldset>
      </div>
    </div>
  </section>

  <section id="stuffIKnow">
    <h1> Stuff I know about </h1>
    <div class="container" style="position:relative;">
      <div style="display:flex; flex-direction:row; column-gap: 3.5em; flex-wrap:wrap;">
        <div style="width:12rem;">
          <h2>Web dev</h2>
          <div class="skillsList">
            <h3>Frontend</h3>
            <ul id="frontendTech">
              <li><a href="">Javascript</a></li>
              <li><a href="">SASS/CSS</a></li>
              <li><a href="">HTML</a></li>
              <li><a href="">ReactJS</a></li>
              <li><a href="">Bootstrap</a></li>
            </ul>
          </div>
          <div class="skillsList">
            <h3>Backend</h3>
            <ul>
              <li><a href="">Python</a></li>
              <li><a href="">NodeJS</a></li>
              <li><a href="">POSTGRESQL</a></li>
            </ul>
          </div>
        </div>

        <div style="width:12rem;">
          <h2>General</h2>
          <div class="skillsList">
            <h3>Embedded</h3>
            <ul>
              <li><a href="">Basics of C/C++</a></li>
              <li><a href="">Basics of VHDL</a></li>
              <li><a href="">Microchip&#8482; MCUs</a></li>
            </ul>
          </div>
          <div class="skillsList">
            <h3>Misc</h3>
            <ul>
              <li><a href="">Linux Systems</a></li>
              <li><a href="">Bash scripting</a></li>
              <li><a href="">LaTeX</a></li>
              <li><a href="">Circuit desing</a></li>
            </ul>
          </div>
        </div>

        <div style="display:flex; flex-direction:column; align-items:center;">
          <div id="codeWindow1" class="codeWindow">
            <div class="codeWindowContent">
              <div style="padding-left:1rem; position:relative;">
                <div style="margin:3px; font-weight:200;">
                  Python
                </div>
                <div style="position:absolute; top:0; right:0; margin:3px; ">
                  <svg fill="none" stroke="currentColor" width='24' height='24' viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5" d="M19 9l-7 7-7-7"></path>
                  </svg>
                </div>
              </div>
              <hr>
              <div class="code python" id="sampleCode1">
                print('hello world')
                def funcion(arg):
                &nbsp;&nbsp;return arg+1
                funcion(1) # => 2
              </div>
            </div>
          </div>

          <div id="codeWindow2" class="codeWindow" style="left:2rem; margin-top:0;">
            <div class="codeWindowContent">
              <div style="padding-left:1rem; position:relative;">
                <div style="margin:3px; font-weight:200;">
                  LaTeX
                </div>
                <div style="position:absolute; top:0; right:0; margin:3px; ">
                  <svg fill="none" stroke="currentColor" width='24' height='24' viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5" d="M19 9l-7 7-7-7"></path>
                  </svg>
                </div>
              </div>
              <hr>
              <div id="sampleCode2" style="font-size:1rem; padding-left:1rem; padding-right:1rem;">
                <span class='math'>\int f(x) \; dx = F(x) + C</span>
              </div>
            </div>
          </div>


          <div id="codeWindow3" class="codeWindow" style="left:-2rem; margin-top:0;">
            <div class="codeWindowContent">
              <div style="padding-left:1rem; position:relative;">
                <div style="margin:3px; font-weight:200;">
                  Javascript
                </div>
                <div style="position:absolute; top:0; right:0; margin:3px; ">
                  <svg fill="none" stroke="currentColor" width='24' height='24' viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5" d="M19 9l-7 7-7-7"></path>
                  </svg>
                </div>
              </div>
              <hr>
              <div class="code javascript" id='sampleCode3'>
                $(document).ready(function() {
                &nbsp;&nbsp;$('pre code').each(function(i, block) {
                &nbsp;&nbsp;&nbsp;&nbsp;hljs.highlightBlock(block);
                &nbsp;&nbsp;});
                });
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section id="projectsSection">
    <h1>Things I've made</h1>

    <nav class="pagination-container">
      <div id="pagination-numbers">
      </div>
    </nav>

    <div id="projectsContainer" style="visibility: hidden;">
      <ul id="paginated-list">
        <li>
          <div class="card__container">
            <article class="card">
              <header class="card__thumb">
                <a href="https://git.gasantos.xyz/GASB0/noise_remover/wiki"><img src="/images/noise_remover.jpg" /></a>
              </header>
              <date class="card__date">
                <span class="card__date__day">2022</span>
                <br />
                <span class="card__date__month">Jul</span>
              </date>
              <div class="card__body">
                <div class="card__category"><a href="https://git.gasantos.xyz/GASB0/noise_remover/wiki">Photos</a></div>
                <h2 class="card__title"><a href="https://git.gasantos.xyz/GASB0/noise_remover/">noise_remover</a></h2>
                <div class="card__subtitle">Visual image filtering using Fourier techniques.</div>
                <p class="card__description">
                  This is a stupid project of mine to teach myself javascript
                  and web programming in general. I basically NodeJS and some
                  linux CLI utilities like <strong>ImageMagick</strong> and
                  <strong>FFMPEG</strong> to perform image transformations
                  (filtering) by doodling on it's Fourier Transform.

                  So far I haven't deployed this app online, so you'll have to
                  run it locally if you want to try it. You'll find a
                  demonstration video and the installation instructions on it's
                  <strong>gitea</strong> page.
                </p>
              </div>
              <footer class="card__footer">
              </footer>
            </article>
          </div>
        </li>

      </ul>
    </div>
  </section>


  <!-- TODO: Agregar seccion de los ultimos blogs subidos -->
  <section id="blogUpdatesSection">
    <h1>Recent updates</h1>
    <div class="container" style='visibility:hidden;'>
      <div class="accordion">
        <div class="accordion-item" id="lastestUpdate">
          <a class="accordion-link" href="#lastestUpdate">
            <div class="flex">
              <h3>Hello world!</h3>
              <ul>
                <li>#aNewSite</li>
                <li>#gasb_site2:ElectricBoogaloo</li>
                <li>#IFinallyFiguredOutJavascript</li>
                <li>#CSSIsHard</li>
                <li>#NodeJSRocks</li>
              </ul>
            </div>

            <i class="ion-md-arrow-forward">
              <!-- Right arrow -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24"
                height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <line x1="15" y1="16" x2="19" y2="12"></line>
                <line x1="15" y1="8" x2="19" y2="12"></line>
              </svg>
            </i>
            <i class="ion-md-arrow-down">
              <!-- Down arrow -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-down" width="24"
                height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <line x1="12" y1="5" x2="12" y2="19"></line>
                <line x1="16" y1="15" x2="12" y2="19"></line>
                <line x1="8" y1="15" x2="12" y2="19"></line>
              </svg>
            </i>
          </a>
          <div class="answer">
            <p>
              I once tried to make a personal portfolio using the Django
              framework, and it sucked. It was ugly and awkward to navigate.
              Now, after finally figuring out Javascript and SASS, I present
              you my second attempt in making a nice looking website that I
              can use to show off some of the cool things I've made so far and
              to talk about the things I find interesting.

              This site is still under construction, so expect more cool stuff
              to be added within the next weeks.
            </p>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </section>

  <!-- TODO: Agregar aplicación de archivo de blogs y proyectos -->

  <script type="text/javascript" src="/javascripts/script2.js"></script>
</body>

</html>
