<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <div id='navButtons' style="font-size:0.8rem; z-index:10; position:absolute; top:0;left:0;">
      <ol>
        <li><span><a href="#aboutThisPage">About</a></span></li>
        <li><span><a href="#stuffIMade">Stuff I've made</a></span></li>
        <li><span><a href="#">Contact Me</a></span></li>
      </ol>
    </div>
    <div id='myResume' style="font-size:0.8rem; position:absolute; right:2rem;">
      <span class="card card-1 stacked--left" style="padding:0.5rem;">
        <a href="#" style="text-decoration:none; color:inherit;">My resume</a></span>
    </div>
  </nav>

  <!-- Barra lateral derecha -->
  <div class="sideStuff" style="position:fixed; right:2px; writing-mode: vertical-lr; font-size:11px;">
    <div id="myEmail">
      santos.baez.gabriel.elo@gmail.com
    </div>
  </div>

  <!-- Barra lateral izquierda -->
  <div class="sideStuff" style="position:fixed; left:0px; font-size:15px;">
    <div id='giteaRow' class="sideButtonRow">
      <div class="sideButtonLogo">
        <svg xmlns="http://www.w3.org/2000/svg" class="animate-thing" width="24" height="24" viewBox="0 0 24 24"
          stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <circle cx="16" cy="12" r="1"></circle>
          <circle cx="12" cy="8" r="1"></circle>
          <circle cx="12" cy="16" r="1"></circle>
          <path d="M12 15v-6"></path>
          <path d="M15 11l-2 -2"></path>
          <path d="M11 7l-1.9 -1.9"></path>
          <path
            d="M10.5 20.4l-6.9 -6.9c-.781 -.781 -.781 -2.219 0 -3l6.9 -6.9c.781 -.781 2.219 -.781 3 0l6.9 6.9c.781 .781 .781 2.219 0 3l-6.9 6.9c-.781 .781 -2.219 .781 -3 0z">
          </path>
        </svg>
      </div>
      <div class="sideButtonText">
        <span class="letters">Gitea</span>
        <span class="line"></span>
      </div>
    </div>

    <div id='githubRow' class="sideButtonRow">
      <div class="sideButtonLogo">
        <svg xmlns="http://www.w3.org/2000/svg" class="animate-thing" width="24" height="24" viewBox="0 0 24 24"
          stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path
            d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5">
          </path>
        </svg>
      </div>
      <div class="sideButtonText">
        <span class="letters">Github</span>
        <span class="line"></span>
      </div>
    </div>

    <div id='blogRow' class="sideButtonRow">
      <div class="sideButtonLogo">
        <svg class="animate-thing" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
          stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M16 6h3a1 1 0 0 1 1 1v11a2 2 0 0 1 -4 0v-13a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1v12a3 3 0 0 0 3 3h11">
          </path>
          <line x1="8" y1="8" x2="12" y2="8"></line>
          <line x1="8" y1="12" x2="12" y2="12"></line>
          <line x1="8" y1="16" x2="12" y2="16"></line>
        </svg>
      </div>
      <div class="sideButtonText">
        <span class="letters">Blog thing</span>
        <span class="line"></span>
      </div>
    </div>

    <div id='mailRow' class="sideButtonRow">
      <div class="sideButtonLogo">
        <svg class="animate-thing" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
          stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <rect x="3" y="5" width="18" height="14" rx="2"></rect>
          <polyline points="3 7 12 13 21 7"></polyline>
        </svg>
      </div>
      <div class="sideButtonText">
        <span class="letters">Mail</span>
        <span class="line"></span>
      </div>
    </div>

    <div id='keyRow' class="sideButtonRow">
      <div class="sideButtonLogo">
        <svg class="animate-thing" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
          stroke-width="1" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="8" cy="15" r="4"></circle>
          <line x1="10.85" y1="12.15" x2="19" y2="4"></line>
          <line x1="18" y1="5" x2="20" y2="7"></line>
          <line x1="15" y1="8" x2="17" y2="10"></line>
        </svg>
      </div>
      <div class="sideButtonText">
        <span class="letters">GPG Key</span>
        <span class="line"></span>
      </div>
    </div>

    <div id='rssRow' class="sideButtonRow">
      <div class="sideButtonLogo">
        <svg class="animate-thing" fill="none" stroke="currentColor" width='24' height='24' viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
            d="M6 5c7.18 0 13 5.82 13 13M6 11a7 7 0 017 7m-6 0a1 1 0 11-2 0 1 1 0 012 0z"></path>
        </svg>
      </div>
      <div class="sideButtonText">
        <span class="letters">RSS feed</span>
        <span class="line"></span>
      </div>
    </div>
  </div>

  <!-- Cabecera/Seccion de presentacion -->
  <header id="presentation">
    <div id="upperWrap">
      <div id="upper">
        <%= title %><span id="blinkingCursor">_</span>
      </div>
    </div>
    <div id="line"></div>
    <div id="lowerWrap">
      <div id="lower">Welcome to my little piece of internet</div>
    </div>
  </header>

  <!-- Contenido de la pagina -->
  <section id="aboutThisPage" class='surroundedByBox'>
    <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
      <polygon class="svgContainer" fill='none' stroke='white' />
      <foreignObject x="0" y="0" width="100%" height="100%">
        <div class="secContent" xmlns="http://www.w3.org/1999/xhtml">
          <div style="font-size:14px; padding:10%">
            <!--- wtf!? el padding-top arregla el tamano del recuadro-->
            <h1>About</h1>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed mollis mollis mi ut ultricies. Nullam magna ipsum,
            porta vel dui convallis, rutrum imperdiet eros. Aliquam
            erat volutpat.
          </div>
        </div>
      </foreignObject>
    </svg>
  </section>

  <!-- Contenedor de los ultimos proyectos en los que he estado trabajando -->
  <div id="container" style="position:relative; width:50em;">
    <div class="image" style="position:absolute; top: 0; left:0; width:60%; border:2px solid green; ;">
      <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com">
    </div>
    <div class="imageDescription"
      style="position:absolute; top: 0; right:0; width:45%;border:2px solid red; padding-top:1em;">
      <div class="coolTextContainer"
        style="border: 1px solid white; text-align:right; background-color: var(--our-black); padding:0.3em;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a nisi
        quis justo fermentum pharetra. Quisque ac pulvinar sapien. Sed
        porta dolor nec ex venenatis feugiat.
      </div>
      <div class="coolButtonsContainer" style="text-align: right; padding-top:1em;">
        <span style="color:white;">Lmao Lmeo Lmio Lmoo Lmuo</span>
      </div>
      <div style="text-align: right; padding-top:1.3em;">
        <span style="border: 1px solid white;  text-align:right; padding:5px;">Learn more</span>
      </div>
    </div>
  </div>

  <!-- <svg width="200" height="200" viewBox="0 0 220 220" xmlns="http://www.w3.org/2000/svg"> -->
  <!--   <filter id="displacementFilter"> -->
  <!--     <feTurbulence type="turbulence" baseFrequency="0.05" numOctaves="2" result="turbulence" /> -->
  <!--     <feDisplacementMap in2="turbulence" in="SourceGraphic" scale="50" xChannelSelector="R" yChannelSelector="G" /> -->
  <!--   </filter> -->
  <!--   <circle id="testCirc" cx="100" cy="100" r="100" style="filter: url(#displacementFilter)" fill='white' -->
  <!--     stroke='white' /> -->
  <!-- </svg> -->

  <!-- TODO: Agregar seccion de los ultimos blogs subidos -->
  <!-- TODO: Agregar aplicación de archivo de blogs y proyectos -->

  <script src="/javascripts/anime.min.js"></script>
  <script type="text/javascript" src="/javascripts/script.js"></script>
</body>

</html>
