<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header id="headerContainer">
    <div id="upperWrap">
      <div id="upper">
        <%= title %><span id="blinkingCursor">_</span>
      </div>
    </div>

    <div id="line"></div>

    <div id="lowerWrap">
      <div id="lower">Welcome to my little piece of internet</div>
    </div>
  </header>

  <div class="genericContainer">
    <p id="sampleText1">Sample Text</p>
  </div>

  <!-- <nav id="navBar"> -->
  <!--   <ul> -->
  <!--     <li><a href="#">Inicio</a></li> -->
  <!--     <li><a href="#">Sobre nosotros</a></li> -->
  <!--     <li><a href="#">Contacto</a></li> -->
  <!--   </ul> -->
  <!-- </nav> -->


  <script src="/javascripts/anime.min.js"></script>
  <script type="text/javascript" src="/javascripts/script.js"></script>
</body>

</html>
