* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

:root{
  --transition-time: 0.3s;
  --our-black:#1B1B1B;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Iosevka', sans-serif;
  color: white;
  background-color: #1B1B1B;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
}

h1 {
font-weight:200;
  font-size:3rem;
}
p {
  font-weight:200;
  font-size:1.1rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width:70%;
  height: 100vh;
}

/* Estilo para la barra de navegacion */
nav ol {
  text-align: right;
	min-width: 300px;
  list-style: decimal-leading-zero inside;
}
nav ol li{
  float: left;
  margin-left:1.5rem;
}
nav ol li span{
  position: relative;
  left: -0.4em;
}
nav ol li span a{
  color:inherit;
  text-decoration:none;
}
nav ol li span a:hover{
  text-decoration: underline;
}

/* Estilo para las doble columnas */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Configuraciones para la barra lateral izquierda */
.sideButtonRow{
text-align:left;
}
.sideButtonLogo{
  display: inline-block;
  vertical-align:middle;
}
.sideButtonText{
  display: inline-block;
  vertical-align:middle;
}
.sideButtonText .letter {
  display: inline-block;
  line-height: 1em;
}
.sideButtonText .line{
  opacity: 0;
  position: absolute;
  height: 1em;
  width: 3px;
  background-color: #fff;
}

/* Animacion del inicio */
#upperWrap, #lowerWrap {
  overflow: hidden;
  height: 30px;
  line-height: 30px;
  width: 325px; /* TODO: Este ancho debe ser ajustado con una variable*/
  font-weight: 700;
}

#upper {
  font-size: 24px;
  text-transform: none;
}

#line {
  width: 325px; /* TODO: Este ancho debe ser ajustado con una variable*/
  height: 1px;
  background: white;
}

/* Stacked card effect */
.card {
    display: block;
    text-align: left;
    color: inherit;
    border: 1px solid white;
}
.card-1:before, .card-1:after {
    border-radius: 0px;
}
.card-1 .content { /* Primer layer de la carta */
    background-color: var(--our-black) !important;            
    border-radius: 0px;
}
.card-1:before { /* Segundo layer de la carta */
    background-color: var(--our-black) !important;
}
.card-1:after { /* Tercer layer de la carta */
    background-color: white !important;
}

[class*='stacked--'] {
    position: relative;
    transition: transform var(--transition-time) ease-in-out;
    will-change: transform;
}
[class*='stacked--']:before, [class*='stacked--']:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transition: transform var(--transition-time) ease-in-out;
    will-change: transform;
}
[class*='stacked--']:before { z-index: -1; }
[class*='stacked--']:after { z-index: -2; }

.stacked--left:before, .stacked--left:after {
    transform-origin: right center;
}
.stacked--left:hover {
    transform: translate(-3px, 3px);
}
.stacked--left:hover.card-1:after{
  transform: translate(6px,6px) scale(0.95);
}


/* Cortesia de: https://css-irl.info/animating-underlines/ */
/* Underline styles */
#navButtons a {
  color: inherit;
  text-decoration: none;
  position: relative;
  padding: 0.07rem 0;
}

/* Fade in */
#navButtons a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.07rem;
  background-color: white;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

#navButtons a:hover::after,
#navButtons a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.07em, 0);
}

/* Slide in */
#navButtons li a {
  overflow: hidden;
}

#navButtons li a::after {
  opacity 1;
  transform: translate3d(100%, 0, 0);
}

#navButtons li a:hover::after,
#navButtons li a:focus::after{
  transform: translate3d(0, 0, 0);
}

/* Estilizado para la seccion de las ultimas actualizaciones */
/* Cortesia de https://codepen.io/Tuna_/pen/KKzXEVO?editors=1100 */
.container{
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.accordion-item{
  border-radius: .4rem;
}
.accordion-item hr{
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.accordion-link{
  font-size: 1.6rem;
  color: rgba(255,255,255,.8);
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.accordion-link h3{
  font-weight:500;
  font-size: 20px;
}
.accordion-link i{
  color: #e7d5ff;
  padding: .5rem;
}
.accordion-link ul{
  display:flex;
  align-items: flex-end;
  list-style-type: none;
  margin-left: 25px;
}
.accordion-link li{
  font-size: 10px;
  color: rgba(255, 255, 255, 0.4);
  padding: 0 0 1px 5px;
}
.accordion-link div{
  display: flex;
}
.accordion-link .ion-md-arrow-down{
  display: none;
}
.answer{
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: var(--our-black);
  transition: max-height 400ms;
}
.answer p{
  color: #fff;
  font-size: 0.9rem;
  padding: 2rem;
}

/* Esta es la parte que se encarga de mostrar/esconder las secciones */
.accordion-item:target .answer{ 
  max-height: 20rem;
}
.accordion-item:target .accordion-link .ion-md-arrow-forward{
  display: none;
}
.accordion-item:target .accordion-link .ion-md-arrow-down{
  display: flex;
}

/* Configuracion para el estilo de las listas con las tecnologias que conozco */
.container h2 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.skillsList h3 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.skillsList ul {
  width:100%;
  list-style-type: none;
  display:flex;
  flex-direction:column;
  justify-content: center;
  margin: 0;
  padding: 0;
}
 
.skillsList li {
  display:flex;
  flex-direction:row;
  justify-content:center;
  border-bottom: 1px solid #ccc;
  font-weight: 200;
}
 
.skillsList li:last-child {
  border: none;
}
 
.skillsList li a {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: font-weight 0.3s ease;
}
 
.skillsList li a:hover {
  font-weight:600;
}

/* Estilos para las ventanas de codigo */
.codeWindow{
    position:relative;
    align-self:flex-start;
}

.codeWindow:not(:last-child){
    margin-bottom:1rem;
}

.codeWindow .codeWindowContent{
    border: 1px solid white;
    border-radius:0.5rem;
    max-width:15rem;
    min-width:7rem;
}

.codeWindow  .codeWindowContent hr {
    color:white;
    width:100%;
}

.codeWindow .codeWindowContent .code{
    margin-left:2rem;
    margin-right:2rem;
    margin-bottom:0.8rem;
    font-size:0.8rem;
    font-weight:200;
}
