@use "sass:math";
$titleLineWidth:325px;

// TODO: Organizar merjor este archivo

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

:root{
  --transition-time: 0.3s;
  --our-black:#1B1B1B;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Iosevka', sans-serif;
  color: white;
  background-color: #1B1B1B;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h1 {
font-weight:200;
  font-size:3rem;
}

h2 {
font-weight:200;
  font-size:1.5rem;
}

p {
  font-weight:200;
  font-size:1.1rem;
}

.aboutThisPage{
  max-width: 15rem;
  ul{
    list-style: none; 
  }
}

.box {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title {
  padding-left: 18px;
  border-left: 8px solid;
  border-color: white;
  line-height: 30px;
  flex: 0 1 auto;
  margin: 0;
  padding-right: 12px;
}

.box::after {
  content: "";
  border-top: 2px solid;
  border-color: white;
  flex: 1 0 auto;
}

.aboutMePart{
  max-width: 30rem;
}

section{
  display: flex;
  flex-direction: column;
  text-align: left;
  width:70%;
  min-height:100vh;
}

#presentation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

/* Estilo para la barra de navegacion */
nav ol {
  text-align: right;
	min-width: 300px;
  list-style: decimal-leading-zero inside;
}
nav ol li{
  float: left;
  margin-left:1.5rem;
}
nav ol li span{
  position: relative;
  left: -0.4em;
}
nav ol li span a{
  color:inherit;
  text-decoration:none;
}
nav ol li span a:hover{
  text-decoration: underline;
}

/* Estilo para las doble columnas */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Configuraciones para la barra lateral izquierda */
.sideButtonRow{
text-align:left;
}

.sideButtonLogo{
  display: inline-block;
  vertical-align:middle;
}

.sideButtonText{
  display: inline-block;
  vertical-align:middle;

  .letter {
    display: inline-block;
    line-height: 1em;
  }

  .line{
    opacity: 0;
    position: absolute;
    height: 1em;
    width: 3px;
    background-color: #fff;
  }
}

/* Animacion del inicio */
#upperWrap, #lowerWrap {
  overflow: hidden;
  height: 30px;
  line-height: 30px;
  width: $titleLineWidth;
  font-weight: 700;
}

#upper {
  font-size: 24px;
  text-transform: none;
}

#line {
  width: $titleLineWidth;
  height: 1px;
  background: white;
}

/* Stacked card effect */
.card {
    display: block;
    text-align: left;
    color: inherit;
    border: 1px solid white;
}
.card-1:before, .card-1:after {
    border-radius: 0px;
}
.card-1 .content { /* Primer layer de la carta */
  background-color: var(--our-black) !important;            
  border-radius: 0px;

  &:before { /* Segundo layer de la carta */
    background-color: var(--our-black) !important;
  }
  &:after { /* Tercer layer de la carta */
    background-color: white !important;
  }
}

[class*='stacked--'] {
  position: relative;
  transition: transform var(--transition-time) ease-in-out;
  will-change: transform;

  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transition: transform var(--transition-time) ease-in-out;
    will-change: transform;
  }

  &:before { z-index: -1; }
  &:after { z-index: -2; }
}

.stacked--left:before, .stacked--left:after {
    transform-origin: right center;
}
.stacked--left:hover {
    transform: translate(-3px, 3px);
}
.stacked--left:hover.card-1:after{
  transform: translate(6px,6px) scale(0.95);
}


/* Cortesia de: https://css-irl.info/animating-underlines/ */
/* Underline styles */
#navButtons a {
  color: inherit;
  text-decoration: none;
  position: relative;
  padding: 0.07rem 0;
}

/* Fade in */
#navButtons a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.07rem;
  background-color: white;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

#navButtons a:hover::after,
#navButtons a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.07em, 0);
}

/* Slide in */
#navButtons li a {
  overflow: hidden;
}

#navButtons li a::after {
  transform: translate3d(100%, 0, 0);
}

#navButtons li a:hover::after,
#navButtons li a:focus::after{
  transform: translate3d(0, 0, 0);
}

/* Estilizado para la seccion de las ultimas actualizaciones */
/* Cortesia de https://codepen.io/Tuna_/pen/KKzXEVO?editors=1100 */
.container{
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.accordion-item{
  border-radius: .4rem;
  hr{
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.accordion-link{
  font-size: 1.6rem;
  color: rgba(255,255,255,.8);
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  h3{
    font-weight:500;
    font-size: 20px;
  }
  i{
    color: #e7d5ff;
    padding: .5rem;
  }
  ul{
    display:flex;
    align-items: flex-end;
    list-style-type: none;
    margin-left: 25px;
  }
  li{
    font-size: 10px;
    color: rgba(255, 255, 255, 0.4);
    padding: 0 0 1px 5px;
  }
  div{
    display: flex;
  }
  .ion-md-arrow-down{
    display: none;
  }
}

.answer{
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: var(--our-black);
  transition: max-height 400ms;

  p{
    color: #fff;
    font-size: 0.9rem;
    padding: 2rem;
  }
}

/* Esta es la parte que se encarga de mostrar/esconder las secciones */
.accordion-item{
  &:target{
    .answer{ 
      max-height: 20rem;
    }
    .accordion-link{
      .ion-md-arrow-forward{
        display: none;
      }
      .ion-md-arrow-down{
        display: flex;
      }
    }
  }
}

/* Configuracion para el estilo de las listas con las tecnologias que conozco */
.container h2 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.skillsList {
  h3 {
    margin: 0;
    padding: 0;
    font-weight: 300;
  }

  ul {
    width:100%;
    list-style-type: none;
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  li {
    display:flex;
    flex-direction:row;
    justify-content:center;
    border-bottom: 1px solid #ccc;
    font-weight: 200;

    &:last-child {
      border: none;
    }
    a {
      text-decoration: none;
      color: inherit;
      display: block;
      transition: font-weight 0.3s ease;
      &:hover{
        font-weight:600;
      }
    }
  }
}

/* Estilos para las ventanas de codigo */
.codeWindow{
  position:relative;
  align-self:flex-start;

  :not(:last-child){
    margin-bottom:1rem;
  }

  .codeWindowContent{
    border: 1px solid white;
    border-radius:0.5rem;
    min-width:10rem;

    hr {
      color:white;
      width:100%;
    }

    .code{
      margin-left:1rem;
      margin-right:1rem;
      margin-bottom:0.8rem;
      font-size:0.8rem;
      font-weight:200;
      white-space:pre;
    }
  }
}

// TODO: Refactorizar el codigo de css
/**
* VARIABLES
**/

$duration: 0.8s;
$delay: 0.2s;
$color: var(--our-black);
$unhoveredCardSize: 10rem;

/**
* CARD
**/

.card {
  position: relative;
  max-width:250px;
  background-color: #fff;
  box-shadow:0 0 20px rgba(black,0.1);
  overflow:hidden;
  transition: box-shadow $duration;
  border: 0.2px solid white;

  a{
    color:inherit;
    text-decoration: none;
  }
  &:hover{
    box-shadow:0 0 50px rgba(black,0.3);
    z-index:1;
  }
}


/**
* DATE
**/
.card__date{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  padding-top:10px;
  background-color: var(--our-black);
  border-radius: 50%;
  color:#fff;
  text-align: center;
  font-weight: 700;
  line-height: 13px;

  &__day{
    font-size:14px;
  }

  &__month{
    text-transform: uppercase;
    font-size:10px;
  }
}


/**
* THUMB
**/

.card__thumb{
  height: 200px;
  overflow:hidden;
  background-color: var(--our-black);
  transition: height $duration;

  img{
    display:block;
    opacity: 1;
    transform: scale(1);
    transition: opacity $duration, transform $duration;
  }

  .card:hover &{
    height: 130px;
  }

  .card:hover & img{
    opacity: 0.6;
    transform: scale(1.2);
  }
}


/**
* BODY
**/

.card__body{
  overflow:hidden;
  position: relative;
  max-height: $unhoveredCardSize;
  padding:20px;
  transition: max-height $duration;
  background-color: var(--our-black);
  
  .card:hover &{
    max-height:50rem;
  }
}

.card__category{
  position: absolute;
  top: -25px;  left: 0;
  height: 25px;
  padding:0 15px;
  background-color: var(--our-black);
  color:white;
  text-transform: uppercase;
  font-size:11px;
  line-height: 25px;
}

.card__title{
  margin: 0;
  padding: 0 0 10px 0;
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.card__subtitle{
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 19px;
  color: white;
}

.card__description{
  font-size:0.8rem;
  margin: 0; padding: 0;
  color: white;
  line-height: 27px;
  opacity:0;
  transform: translateY(45px);
  transition: opacity $duration -$delay, transform $duration -$delay;
  transition-delay: 0s;
  
  .card:hover &{
    opacity:1;
    transform: translateY(0);
    transition-delay: $delay;  
  }
}

.card__footer{
  position: absolute;
  bottom: 12px;
  left: 20px;
  right: 20px;
  
  font-size: 11px;
  color:#A3A9A2;
}

.icon{
  display: inline-block;
  vertical-align: middle;
  margin: -2px 0 0 2px;
  font-size: 18px;
  
  & + &{
    padding-left:10px;
  }
}

// Contenedor de proyectos
#projectsContainer{
  ul{
    list-style:none;
    display:grid;
    grid-template-columns:repeat(3, 1fr);

    li{
      .card__container{
        position:absolute;
      }
    }
  }
}

.hidden {
  display: none;
}

// Button style
.pagination-container{
  .pagination-number{
    background-color:var(--our-black);
    border:none;
    color:white;
    padding:0.5rem 1rem;
    text-align: center;
    display:inline-block;
    font-size:0.7rem;
  }
}

// Estilo para los botones de cambio de seccion
#sectButtons{
  position:fixed;
  bottom:0%;
  right:0%;
  display:flex;
  flex-direction:column;
  overflow: hidden;
  a {
    color: inherit;
    text-decoration: none;
  }
  div{
    cursor:pointer;
    opacity: 1;
    transition: opacity 300ms;
    transition-delay: 100ms;
    &:hover{
      opacity: 0.5;
    }
  }
}
